@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto+Slab:wght@100..900&display=swap");

html,
body {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}
